/* Global Styles */
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    /* background: #eee; */
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    color: #000;
  }

  /* Swiper Styles */
  .swiper {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  /* Container Styles */
  .container-fluid {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }


  /* Positioning Utilities */
  .position-relative {
    position: relative;
  }

  .position-absolute {
    position: absolute;
  }

  .top-50 {
    top: 50%;
  }

  .start-50 {
    left: 50%;
  }

  .translate-middle {
    transform: translate(-50%, -50%);
  }
  .swiper-slide {
      background: url(img/home1.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
  }